
body {
    height:100%;
    background-image: url("../img/sean-benesh-6Nbo9Pn0yJA-unsplash.jpg");
    background-repeat: no-repeat;

    background-size:cover;
}

li {
    color: white;
}

.hide-add-movie{
    display: none;

}

